<div
  ngbDropdown
  [autoClose]="'outside'"
  [display]="'dynamic'"
  [container]="'body'"
  #dropdown="ngbDropdown"
  class="d-inline-block w-100"
>
  <button
    type="button"
    ngbDropdownToggle
    class="form-control dropdown-toggle text-truncate"
  >
    <span class="text-truncate">
      @if (control.value) {
        {{ control.value }}
      } @else {
        -
      }
    </span>
  </button>
  <div ngbDropdownMenu style="max-height: 400px; overflow: auto" class="w-100">
    @for (item of filteredList; track item) {
      <button
        ngbDropdownItem
        type="button"
        style="white-space: normal"
        (click)="select(item); dropdown.close()"
      >
        {{ item }}
      </button>
    }
  </div>
</div>
