.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 2rem;
  width: 100%;
}

.btn--btns-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 2rem;
  button {
    width: auto;
    min-width: 100px;
  }
  button + button {
    margin-left: 0.7rem;
  }
}
