.main-container {
  min-height: 100vh;
  max-width: 100%;
}

.row {
  --bs-gutter-x: 0;
}

.btn--btns-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 2rem;
  button {
    width: auto;
    min-width: 100px;
  }
  button + button {
    margin-left: 0.7rem;
  }
}

.left,
.right {
  padding: 2rem;
}

.right {
  background-color: #2a2a2a;
}
