@if (showSpinner | async) {
  <div class="spinner"></div>
  <div class="overlay"></div>
}
<div class="main-container">
  @switch (pageIndex) {
    @case (Pages.ORGANIZATION) {
      <app-page-one></app-page-one>
    }
    @case (Pages.M1_DATA) {
      <app-m1-page></app-m1-page>
    }
    @case (Pages.M2_DATA) {
      <app-m2-page></app-m2-page>
    }
    @case (Pages.M3_TRANSPORT) {
      <app-m3-transport-page></app-m3-transport-page>
    }
    @case (Pages.M3_PAGE_TWO) {
      <app-m3-page-two-component></app-m3-page-two-component>
    }
  }
  <div class="btn--btns-left">
    @if (pageIndex !== 4) {
      <button type="button" class="btn btn-primary" (click)="nextPage()">
        Continue
      </button>
    }
    @if (pageIndex > 0) {
      <button type="button" class="btn btn-primary" (click)="prevPage()">
        Back
      </button>
    }
  </div>
</div>
<app-footer></app-footer>
