<span id="topOfPage" class="topOfPage"></span>
@if (showSpinner | async) {
  <div class="spinner"></div>
  <div class="overlay"></div>
}
<div class="header">
  <app-progress-bar
    (pageIdEmitter)="pageIndex = $event"
    [pageIndex]="pageIndex"
  ></app-progress-bar>
</div>

<div class="main-container row">
  <div class="col-md-3 left d-none d-md-block">
    <app-language-selection></app-language-selection>
    <app-page-info [pageIndex]="pageIndex"></app-page-info>
  </div>
  <div class="col-md-6 right">
    <div class="content">
      @switch (pageIndex) {
        @case (Pages.ORGANIZATION) {
          <app-page-one></app-page-one>
        }
        @case (Pages.M1_DATA) {
          <app-m1-page></app-m1-page>
        }
        @case (Pages.M2_DATA) {
          <app-m2-page></app-m2-page>
        }
        @case (Pages.M3_TRANSPORT) {
          <app-m3-transport-page></app-m3-transport-page>
        }
        @case (Pages.M3_PAGE_TWO) {
          <app-m3-page-two-component></app-m3-page-two-component>
        }
        @case (Pages.RESULTS) {
          <app-results></app-results>
        }
      }
    </div>
    <div class="btn--btns-left navigation py-2">
      @if (pageIndex !== 5) {
        <button type="button" class="btn btn-primary" (click)="nextPage()">
          {{ "General.Next" | translate }}
        </button>
      }
      @if (pageIndex > 0) {
        <button type="button" class="btn btn-primary" (click)="prevPage()">
          {{ "General.Back" | translate }}
        </button>
      }
    </div>
  </div>
</div>
