@if (!isTransport) {
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col-md-4">
      <div class="mb-2">
        <span class="fw-500">{{ "ColumnHeader.UnitNumber" | translate }}</span>
        <div class="w-50">
          <app-dropdown
            [control]="formGroup.controls.unitNumber"
            [simpleList]="getUnitsByYear(year)"
          ></app-dropdown>
        </div>
      </div>
      <div class="mb-2">
        <span class="fw-500">
          {{ translationPrefix | translate }}
        </span>
        <app-dropdown
          [control]="formGroup.controls.type"
          [emissionList]="emissionList"
        ></app-dropdown>
      </div>
      <div class="mb-2">
        <span class="fw-500">
          {{ "ColumnHeader.Amount" | translate }}
        </span>
        <input
          class="form-control w-50"
          [formControl]="formGroup.controls.amountOrDistance"
          type="text"
        />
      </div>
      @if (!isDispersedEmissions) {
        <div class="mb-2">
          <span class="fw-500">
            {{ "ColumnHeader.ModelEmissions" | translate }}
          </span>
          <input
            type="checkbox"
            [formControl]="formGroup.controls.isUsingModelEmissionFactor"
          />
        </div>
      }
    </div>
    <div class="col-md-4">
      @if (formGroup.controls.isUsingModelEmissionFactor.value) {
        <div class="mb-3">
          <span class="fw-500">
            {{ "ColumnHeader.EmissionFactor" | translate }}
          </span>
          {{ emissionList | getListItemValue: formGroup.controls.type.value }}
        </div>
      }
      @if (
        !isDispersedEmissions &&
        formGroup.controls.isUsingModelEmissionFactor.value === false
      ) {
        <div class="mb-3">
          <span class="fw-500">
            {{ "ColumnHeader.OtherEmissionFactor" | translate }}
          </span>
          <input
            type="text"
            class="form-control"
            [formControl]="formGroup.controls.otherEmissionFactor"
          />
        </div>
      }
      <div class="mb-3">
        <span class="fw-500">
          {{ "ColumnHeader.EmissionsKG" | translate }}
        </span>
        {{ formGroup.controls.kgCO2Footprint.value }}
        <span class="fw-500">kg CO2 ekv</span>
      </div>
      <div>
        <span class="fw-500">
          {{ "ColumnHeader.EmissionsT" | translate }}
        </span>
        {{ formGroup.controls.kgCO2Footprint.value | roundTons }}
        <span class="fw-500">t CO2 ekv</span>
      </div>
    </div>
  </div>
} @else if (isTransport) {
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col-md-4">
      <div class="mb-2">
        <span class="fw-500">{{ "ColumnHeader.UnitNumber" | translate }}</span>
        <app-dropdown
          [control]="transportFormGroup.controls.unitNumber"
          [simpleList]="getUnitsByYear(year)"
        ></app-dropdown>
      </div>
      @if (transportFormGroup.controls.capacity) {
        <div class="mb-2">
          <span class="fw-500">
            {{ "ColumnHeader.Capacity" | translate }}
          </span>
          <app-dropdown
            [control]="transportFormGroup.controls.capacity"
            [emissionList]="emissionsLists.capacity"
          ></app-dropdown>
        </div>
      }
      <div class="mb-2">
        <span class="fw-500">
          {{ translationPrefix | translate }}
        </span>
        <app-dropdown
          [control]="transportFormGroup.controls.type"
          [emissionList]="(capacityList$ | async)!"
        ></app-dropdown>
      </div>
      <div class="mb-2">
        <span class="fw-500">
          {{ "ColumnHeader.Distance" | translate }}
        </span>
        <input
          class="form-control"
          [formControl]="transportFormGroup.controls.distance"
          type="text"
        />
      </div>
      @if (transportFormGroup.controls.productAmount) {
        <div class="mb-2">
          <span class="fw-500">
            {{ "ColumnHeader.ProductAmount" | translate }}
          </span>
          <input
            class="form-control"
            [formControl]="transportFormGroup.controls.productAmount"
            type="text"
          />
        </div>
      }
      @if (transportFormGroup.controls.productAmount) {
        <div class="mb-2">
          <span class="fw-500">
            {{ "ColumnHeader.TotalDistanceAmount" | translate }}
          </span>
          {{ transportFormGroup.controls.totalDistanceProductAmount?.value }}
        </div>
      }
      <div class="mb-2">
        <span class="fw-500">
          {{ "ColumnHeader.ModelEmissions" | translate }}
        </span>
        <input
          type="checkbox"
          [formControl]="transportFormGroup.controls.isUsingModelEmissionFactor"
        />
      </div>
    </div>
    <div class="col-md-4">
      <div class="mb-3">
        @if (transportFormGroup.controls.isUsingModelEmissionFactor.value) {
          <span class="fw-500">
            {{ "ColumnHeader.EmissionFactor" | translate }}
          </span>
          {{
            emissionList
              | getListItemValue: transportFormGroup.controls.type.value
          }}
        }
        @if (
          !isDispersedEmissions &&
          transportFormGroup.controls.isUsingModelEmissionFactor.value === false
        ) {
          <div class="mb-3">
            <span class="fw-500">
              {{ "ColumnHeader.OtherEmissionFactor" | translate }}
            </span>
            <input
              type="text"
              class="form-control"
              [formControl]="transportFormGroup.controls.otherEmissionFactor"
            />
          </div>
        }
      </div>
      <div class="mb-3">
        <span class="fw-500">
          {{ "ColumnHeader.EmissionsKG" | translate }}
        </span>
        {{ transportFormGroup.controls.kgCO2Footprint.value }}
        <span class="fw-500">kg CO2 ekv</span>
      </div>
      <div>
        <span class="fw-500">
          {{ "ColumnHeader.EmissionsT" | translate }}
        </span>
        {{ transportFormGroup.controls.kgCO2Footprint.value | roundTons }}
        <span class="fw-500">t CO2 ekv</span>
      </div>
    </div>
  </div>
}
