/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.fw-500 {
  font-weight: 500;
}

.text-link {
  color: #0062bc;
  cursor: pointer;
  &:focus,
  &:focus-visible {
    outline: 1px solid #111111;
  }
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1050;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1040;
}

.entry {
  background-color: #eaefe9;
  padding: 1rem;
  border-radius: 0.3rem;
}

.table-row {
  border-bottom: 1px solid #3d3d3d;

  .col-sm-6 {
    padding: 1rem;
  }
}

.heading-3 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.75rem;
  color: #333;
}

p,
h2,
h3,
h4,
h5,
h6,
label,
span,
button,
input {
  font-family: "Poppins", sans-serif !important;
}

mat-expansion-panel-header,
.mat-expansion-panel-body {
  background-color: #eef4ed;
}

mat-panel-title {
  opacity: 0.85;
}

.btn-primary {
  background-color: #055b47cc;
  border-color: #055b47cc;
}

.btn-primary:hover {
  background-color: #034838;
  border-color: #034838;
}

.btn-primary:active {
  background-color: #034838 !important;
  border-color: #034838 !important;
}

.btn-primary:disabled {
  background-color: rgba(5, 91, 71, 0.27);
  border-color: rgba(5, 91, 71, 0.27);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  transition: background-color 1s linear;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
